html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow-y: hidden;
}

.dot {
  height: 35vh;
  width: 35vh;
  background-color: rgb(108, 207, 83);
  border: 10px solid #4b4b4b;
  border-radius: 50%;
}

.percentage {
  position: absolute;
  font-size: 80px;
}

.filtros {
  background-color: #505050;
}

.form-control:focus {
  border-color: rgb(0, 0, 0);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(158, 158, 158, 0.6);
}

.navbar {
  background-image: url("../img/Bosch/fundo.jpg");
  background-size: cover;
  height: 5vh;
  padding: 0;
  width: 100%;
}

.userImage {
  max-width: 25%;
  max-height: 25%;
  padding-bottom: 2vh;
}

.list-group {
  width: 600px;
}

.list-group-item {
  margin-top: 10px;
  border-radius: none;
  background: #505050;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.form-group.input-group {
  margin: 0;
}

.list-group-item:hover {
  transform: scaleX(1.1);
}

.check {
  opacity: 0;
  transition: all 0.6s ease-in-out;
}

.list-group-item:hover .check {
  opacity: 1;
}

.about span {
  font-size: 12px;
  margin-right: 10px;
}

input[type="checkbox"] {
  position: relative;
  cursor: pointer;
}

input[type="checkbox"]:before {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0px;
  left: 0;
  border: 1px solid #4b4b4b;
  border-radius: 3px;
  background-color: rgb(235, 235, 235);
}

input[type="checkbox"]:checked:after {
  content: "";
  display: block;
  width: 7px;
  height: 12px;
  border: solid #292929;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 2px;
  left: 6px;
}

input[type="checkbox"]:checked + .check {
  opacity: 1;
}

.col-md-4 {
  text-align: center;
}

.container-fluid {
  padding-top: 5vh;
}

.stats {
  background: #525252 !important;
  color: #000 !important;
}

.articles {
  font-size: 10px;
  color: #a1aab9;
}

.number1 {
  font-weight: 500;
}

.smLabel {
  font-size: 10px;
  color: #a1aab9;
}

.number2 {
  font-weight: 500;
}

#scrollList::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

.litHope {
  zoom: 150%;
}

#scrollList::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

.profileCard {
  width: 400px;
  border: none;
  border-radius: 10px;
  background-color: #4b4b4b;
}

/* data */

[type="date"] {
  background: #fff
    url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)
    97% 50% no-repeat;
}
[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

#formFoto {
  margin: 100px 0 0 0; /* top | right | bottom | left */
  display: inline-block;
  position: relative;
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 50%;
}
#formFoto img {
  width: auto;
  height: 100%;
  margin-left: -50px;
}

label {
  margin: 10px 0 0 0;
}

.modal-backdrop {
  opacity: 0 !important;
}

.adm {
  position: absolute;
}
